[defaults]
inventory = ansible/inventory.yaml
roles_path = ansible/roles
remote_user = root
host_key_checking = True
interpreter_python = auto_silent
stdout_callback = yaml
display_skipped_hosts = False

[ssh_connection]
pipelining = True
